<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="checkUsage" value="1" />
        <option name="ifUseNewMapping" value="488" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>